<article class="profile">
  <div class="profileHeader">
    <app-circle-menu [menu]="profileLogo"></app-circle-menu>
    <div class="message">
      <p>Comparte informacion con los colegas</p>
      <i><fa-icon class="icon" [icon]="getIcon('faMessage')"></fa-icon></i>
    </div>
  </div>
  <div class="summary">
    <div class="summaryWrapper">
      <div class="sumarySection">
        <p id="counter">0</p>
        <p id="description">Conversaciones</p>
      </div>
      <div class="sumarySection">
        <p id="counter">0</p>
        <p id="description">Siguiendo</p>
      </div>
      <div class="sumarySection">
        <p id="counter">0</p>
        <p id="description">Seguidores</p>
      </div>
    </div>
  </div>
  <div class="body">
    <ul>
      <li> 
        <p>0</p>
        <p>Empleados nuevos</p>
      </li>
      <li>
        <p>0</p>
        <p>Nuevos elementos</p>
      </li>
    </ul>
  </div>
</article>
