/* =================Navbar====================== */

a {
  color: inherit;
}

a:hover {
  color: #fff;
}

.menu-active {
  color: #fff;
}

.nav-container {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 10px 15px;
  align-items: center;
  box-sizing: border-box;
  /* background-color: red; */
  justify-content: space-between;
}

.nav-container .menu-section {
  max-width: 200px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-container .menu-section .icon{
  font-size: 20px;
  cursor: pointer;
}

.nav-container .menu-section img{
  max-width: 160px;
}

.nav-container .notification-section {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.nav-container .notification-section .icons{
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 18px;
}

.nav-container .notification-section .account-button {
  font-family: 'Open Sans', sans-serif;
  padding: 2px 4px;
  border-radius: 5px;
  background-color: #ececec;
  cursor: pointer;
}