<article class="nav-container">
  <div class="menu-section">
    <fa-icon class="icon" [icon]="getIcon('faBars')"></fa-icon>
    <img src="/assets/logo-litoplas.png" alt="logo-litoplas">
  </div>
  <div class="notification-section">
    <div class="icons">
      <a routerLink="dashboard/home" routerLinkActive="menu-active" ><fa-icon class="icon" [icon]="getIcon('faHomeAlt')"></fa-icon></a>
      <a routerLink="sda" routerLinkActive="menu-active"><fa-icon class="icon" [icon]="getIcon('faStar')"></fa-icon></a>
      <a routerLink="asd" routerLinkActive="menu-active"><fa-icon class="icon" [icon]="getIcon('faFlag')"></fa-icon></a>
      <a routerLink="asd" routerLinkActive="menu-active"><fa-icon class="icon" [icon]="getIcon('faBell')"></fa-icon></a>
      <a routerLink="asdd" routerLinkActive="menu-active"><fa-icon class="icon" [icon]="getIcon('faGear')"></fa-icon></a>
    </div>
    <div class="account-button">
      ST
    </div>
  </div>
</article>