<article class="nav-container">
  <div class="menu-section">
    <fa-icon class="icon" [icon]="getIcon('faBars')"></fa-icon>
    <img src="/assets/logo-litoplas.png" alt="logo-litoplas">
  </div>
  <div class="notification-section">
    <div class="icons">
      <fa-icon class="icon" [icon]="getIcon('faHomeAlt')"></fa-icon>
      <fa-icon class="icon" [icon]="getIcon('faStar')"></fa-icon>
      <fa-icon class="icon" [icon]="getIcon('faFlag')"></fa-icon>
      <fa-icon class="icon" [icon]="getIcon('faBell')"></fa-icon>
      <fa-icon class="icon" [icon]="getIcon('faGear')"></fa-icon>
    </div>
    <div class="account-button">
      ST
    </div>
  </div>
</article>