
<section class="content">
  <article class="nav-container">
    <div class="menu-section">
      <fa-icon class="icon" [icon]="getIcon('faBars')"></fa-icon>
      <img src="/assets/logo-litoplas.png" alt="logo-litoplas">
    </div>
    <div class="notification-section">
      <div class="icons">
        <fa-icon class="icon" [icon]="getIcon('faHomeAlt')"></fa-icon>
        <fa-icon class="icon" [icon]="getIcon('faStar')"></fa-icon>
        <fa-icon class="icon" [icon]="getIcon('faFlag')"></fa-icon>
        <fa-icon class="icon" [icon]="getIcon('faBell')"></fa-icon>
        <fa-icon class="icon" [icon]="getIcon('faGear')"></fa-icon>
      </div>
      <div class="account-button">
        ST
      </div>
    </div>
  </article>
  <section class="body-container">
    <article class="profile">
      <div class="profileHeader">
        <app-circle-menu [menu]="profileLogo"></app-circle-menu>
        <div class="message">
          <p>Comparte informacion con los colegas</p>
          <i><fa-icon class="icon" [icon]="getIcon('faMessage')"></fa-icon></i>
        </div>
      </div>
      <div class="summary">
        <div class="summaryWrapper">
          <div class="sumarySection">
            <p id="counter">0</p>
            <p id="description">Conversaciones</p>
          </div>
          <div class="sumarySection">
            <p id="counter">0</p>
            <p id="description">Siguiendo</p>
          </div>
          <div class="sumarySection">
            <p id="counter">0</p>
            <p id="description">Seguidores</p>
          </div>
        </div>
      </div>
      <div class="body">
        <ul>
          <li> 
            <p>0</p>
            <p>Empleados nuevos</p>
          </li>
          <li>
            <p>0</p>
            <p>Nuevos elementos</p>
          </li>
        </ul>
      </div>
    </article>
    <article class="menu-items">
      <app-circle-menu (emitData)="menuClicked( $event )" *ngFor="let item of menus" [menu]='item'></app-circle-menu>
    </article>
  </section>

</section>