<div class="ItemList">
  <table class="customTable">
    <thead>
      <tr>
        <th *ngFor="let columnHead of tableData.headers ">{{columnHead.description}}</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let user of userData"> -->
      <tr *ngFor="let columnData of tableData.dataColumns">
        <td *ngFor="let columnHead of tableData.headers"> 
          <span class="actions" *ngIf="columnHead.field === 'actions'">
            <fa-icon (click)="onUpdateClick(columnData)" class="icon" [icon]="getIcon('faPencil')"></fa-icon>
            <fa-icon (click)="onDeleteClick(columnData)" class="icon" [icon]="getIcon('faTrash')"></fa-icon>
          </span>
          <span *ngIf="columnHead.field !== 'actions'">
            {{columnData[columnHead.field]}} 
          </span>

          
        </td>
      </tr>  
    </tbody>
  </table>
</div>
<p>Count: {{countRender()}}</p>