table.customTable {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  color: #000;
}

table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  padding: 5px;
}

table.customTable thead {
  background-color: #7ea8f8;
}

table.customTable td .actions {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

table.customTable td .actions fa-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #7ea8f8;
  border-radius: 5px;
  color: #fff;
}
