<section class="wrapper">
  <h1 class="title">Administrador de permisos</h1>

  <div class="userForm">
      <form [formGroup]="formUser" (ngSubmit)="addUser()" >
        <div class="form-group">
          <label for="">Nombre</label>
          <input 
            type="text" 
            class="form-control"
            name="name"
            formControlName="name"
            >
            <span [hidden]="getFormControl('name')?.valid || getFormControl('name')?.pristine" class="hint">Campo requerido</span>
            <!-- <span [hidden]="name?.valid || name?.pristine" class="hint">Campo requerido</span> -->
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input 
            type="email" 
            class="form-control"
            name="email"
            formControlName="email"
            required>
            <span [hidden]="getFormControl('email')?.valid || getFormControl('email')?.pristine" class="hint">
              {{ getFormControl('email')?.errors?.['required'] && 'Campo requerido' }}
              {{ getFormControl('email')?.errors?.['pattern'] && 'Formato de email errado' }}
            </span>
            <!-- <span [hidden]="email.valid || email.pristine || !email.errors?.['email']" class="hint">Formato email incorrecto</span> -->
        </div>
        <div class="form-group">
          <label for="">Telefono</label>
          <input 
            type="text" 
            class="form-control"
            name="phone"
            formControlName="phone"
            required>
            <span [hidden]="getFormControl('phone')?.valid || getFormControl('phone')?.pristine" class="hint">
              {{ getFormControl('phone')?.errors?.['required'] && 'Campo requerido' }}<br>
              {{ getFormControl('phone')?.errors?.['pattern'] && 'Solo caracteres numericos' }}<br>
              {{ getFormControl('phone')?.errors?.['minlength'] && 'Minimo 7 caracteres' }}
              {{ getFormControl('phone')?.errors?.['maxlength'] && 'maximo 10 caracteres' }}
            </span>
            <!-- <span *ngIf="!phone.valid && !phone.pristine" class="hint">Campo requerido</span> -->
        </div>
        <div class="form-group">
          <label for="">Contraseña</label>
          <input 
            type="text" 
            class="form-control"
            name="password"
            formControlName="password"
            required>
            <span [hidden]="getFormControl('password')?.valid || getFormControl('password')?.pristine" class="hint">
              Campo requerido
            </span>
            <!-- <span *ngIf="!password.valid && !password.pristine" class="hint">Campo requerido</span> -->
        </div>
        <div class="form-group">
          <button [disabled]="formUser.invalid" >Guardar</button>
        </div>
      </form>
  </div>
  <app-table-info></app-table-info>
  <app-custom-table [tableData]="tableData"></app-custom-table>
</section>

